<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="../styling/sportPage.css">
    <link  rel="stylesheet" href="../styling/nav.css">
</head>
<body>
  
    <div id="navigation-bar" >
      <div id="headingNav">
          <img id="navLogo"   src="../assets/rings.png">
      <a href="#" id="webname" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; color:white; ">Olympic Medal List</a>
      </div>
      <div style=" width:49.5rem; justify-content: space-evenly; ">
        <a href="standings.html" class="navRight" style="border-radius: 8px; padding:3px;  ">Medal Standings</a>
        <!-- <a href="standings.html" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;border-radius: 8px; padding:3px; text-shadow:2px 2px 5px rgba(255, 170, 58, 0.68);  ">Medal Standings</a> -->
        <a href="history.html" class="navRight" style="border-radius: 8px; padding:3px;  "  >Historical Data</a>
        <a href="#" class="navRight"  style=" border-radius: 8px; padding:3px;  " >Medal Trends</a>
        <a href="#" class="navRight"  style=" border-radius: 8px; padding:3px;  " >Athlete spotlight</a>
        <a href="#" class="navRight"  style=" border-radius: 8px; padding:3px;  " >Countries Compare</a>
        <!-- <a href="#" class="navRight"  style="border-radius: 8px; padding:3px;  " >SignIn</a> -->
        </div>
    </div>
    
        <h1 style="text-align: center;font-size: 5rem;" id="heading">Sport Name</h1>
        <div id="sportOverview">
            <div id="sportImage" style=" width:30rem;">

            </div>
            <p style="font-size: 1.5rem; width:50rem; margin-left: 1rem;">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt enim nam culpa accusamus, at molestias quas non modi consequuntur ea vel dolores totam natus impedit veniam sit minima ipsum mollitia rem? Tempore sapiente ipsum et ea asperiores sint libero earum, nesciunt esse iste nemo architecto consectetur, aut eveniet ad id ut blanditiis quasi qui? Dolores vel, illo est ex quisquam impedit voluptatem ducimus reprehenderit molestias magni beatae maiores. Id voluptatum atque, provident voluptate deserunt eveniet rem. Alias officiis porro veniam, expedita nulla ut ratione totam enim maiores facere laudantium est quae architecto distinctio provident tempora quibusdam id sint impedit possimus? Ea eius totam nulla sequi quia, odio illum praesentium enim ratione labore minima recusandae expedita quidem hic eum numquam blanditiis dolores quas. Obcaecati animi est debitis voluptas, architecto, doloremque quibusdam, esse veniam ad officiis quae odit hic. Illo culpa, aspernatur doloribus esse rerum quasi beatae nisi, odit blanditiis eius assumenda, exercitationem officiis iste modi suscipit dolor minima accusantium. Ex corporis non consectetur est accusantium at, eligendi saepe in a doloremque distinctio ratione alias asperiores dolor aliquid nulla modi 
      </p>

        </div>
        <!--  -->
        <div class="winsList">
            <!-- <div class="diagonal">
                <h1 style="transform: rotate(-45deg);">2024</h1>

            </div>
            <div class="countryDetials">
                <h1 style="margin-top: 3.2rem;">India</h1>
                <div class="playerAchievement">
                    <div class="playerImage"></div>
                    <div class="playerOverview"></div>
                </div>

            </div> -->
        </div>
        
    
    <script src="../scripts/index.js"></script>
    <script src="../scripts/sportPage.js"></script>
</body>
</html>